@import '../../../../scss/vars.scss';

.marvel-button {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 100px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin: 20px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;

  &__line {
    position: absolute;
    display: block;
  }

  &__line-top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #fb07d9);
  }

  &:hover .marvel-button__line-top {
    left: 100%;
    transition: 0.7s;
    transition-delay: 0.25s;
  }

  &__line-bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, #ba0cf8);
  }

  &:hover .marvel-button__line-bottom {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.25s;
  }

  &__line-left {
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #5f15f2);
  }

  &:hover .marvel-button__line-left {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0s;
  }

  &__line-right {
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
  }

  &:hover .marvel-button__line-right {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0s;
  }

  &:hover {
    top: 100%;
    border: 1px solid #5f15f2;
    background-color: $blue;
    transition-delay: 0.7s;
  }
}
