@import '../../../../scss/vars';

.movies {
  .movies__popular {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }

  &__title {
    text-align: center;
    color: $white;
    font-size: $titleh1;
    padding: 15px;
  }
}
