@import '../../../../scss/_vars';

.marvel-heroes__container {
  .marvel-heroes__search-holder {
    &.active {
      width: 600px;

      .marvel-heroes__icon {
        background: $marvel;
      }

      .marvel-heroes__icon::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 13px;
        width: 18px;
        height: 30px;
        background: transparent;
        border: none;
        border-right: 2px solid white;
        border-radius: 0;
        transform: rotate(45deg);
        transition: 0.5s;
      }

      .marvel-heroes__icon::after {
        content: '';
        position: absolute;
        top: 20px;
        left: 13px;
        width: 18px;
        height: 30px;
        background: transparent;
        border: none;
        border-right: 2px solid white;
        border-radius: 0;
        transform: rotate(-45deg);
        transition: 0.4s;
      }
    }
  }

  .marvel-heroes__search {
    position: absolute;
    top: 10px;
    right: 10px;
    width: calc(100% - 90px);
    height: 60px;
    border: none;
    outline: none;
    font-size: 36px;
    padding: 0 10px;
    color: #665;
  }

  .marvel-heroes__search-holder {
    position: absolute;
    z-index: 1;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: width 0.5s;
    overflow: hidden;

    .marvel-heroes__icon {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 60px;
      height: 60px;
      background: $blackJack;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        opacity: 0.7;
      }
    }

    .marvel-heroes__icon::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      width: 24px;
      height: 24px;
      background: transparent;
      border: 2px solid #fff;
      border-radius: 50%;
      transition: 0.5s;
      transition-delay: 0.1s;
    }

    .marvel-heroes__icon::after {
      content: '';
      position: absolute;
      top: 25px;
      left: 35px;
      width: 18px;
      height: 18px;
      background: transparent;
      border-left: 2px solid #fff;
      border-radius: 0;
      transform: rotate(-45deg);
      transition: 0.5s;
      transition-delay: 0.1s;
    }
  }

  .marvel-heroes__grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 30px;

    .marvel-heroes__card {
      display: flex;
      flex-direction: column;
      background: $blackJack;
      border: none;
      box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 100%;
      min-height: 100%;
      transition: all ease-in-out 0.4s;

      &:hover {
        transform: translateY(5px);
        box-shadow: 4px 4px 26px 0px rgba(0, 0, 0, 0.9);
      }

      .marvel-heroes__title {
        text-align: center;
        padding-bottom: 20px;
      }

      .marvel-heroes__img-holder {
        width: 250px;
        height: 270px;
      }

      .marvel-heroes__img {
        width: 100%;
        height: 100%;
        padding-top: 20px;
        object-fit: cover;
      }
    }

    .marvel-heroes__text-holder h2 {
      padding-bottom: 15px;
    }

    .marvel-heroes__text-holder {
      padding: 15px;
      color: white;
      font-size: 20px;
    }

    .marvel-button {
      position: relative;
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px 100px;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      margin: 20px;
      overflow: hidden;
      transition: 0.3s;

      &__line {
        position: absolute;
        display: block;
      }

      &__line-top {
        top: 0;
        left: -100%;
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, transparent, #fb07d9);
      }

      &:hover .marvel-button__line-top {
        left: 100%;
        transition: 0.7s;
        transition-delay: 0.25s;
      }

      &__line-bottom {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 4px;
        background: linear-gradient(270deg, transparent, #ba0cf8);
      }

      &:hover .marvel-button__line-bottom {
        right: 100%;
        transition: 0.7s;
        transition-delay: 0.25s;
      }

      &__line-left {
        bottom: -100%;
        left: 0;
        width: 4px;
        height: 100%;
        background: linear-gradient(0deg, transparent, #5f15f2);
      }

      &:hover .marvel-button__line-left {
        bottom: 100%;
        transition: 0.7s;
        transition-delay: 0s;
      }

      &__line-right {
        top: -100%;
        right: 0;
        width: 4px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #2196f3);
      }

      &:hover .marvel-button__line-right {
        top: 100%;
        transition: 0.7s;
        transition-delay: 0s;
      }

      &:hover {
        top: 100%;
        border: 1px solid $marvel;
        background-color: $blue;
        transition-delay: 0.7s;
      }
    }
  }

  .marvel-heroes__title-holder {
    text-align: center;
    font-size: $titleh1;
    color: $white;
    padding: 15px 15px 135px;
  }
}

@media (max-width: 768px) {
  .marvel-heroes__search-holder {
    &.active {
      max-width: 100%;
      display: flex;
    }

    .marvel-heroes__search {
      font-size: $titleh2;
    }
  }
}
