@import '../../../scss/vars';

.marvel-header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #108cf1, #ff002b);

  &__list {
    display: flex;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 998;
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }

  &__item {
    flex-basis: 20%;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-size: 0px;
    line-height: 26px;
    color: #fff;
    padding: 10px 0;
    position: relative;
  }

  &__link:first-child {
    margin-left: 0;
  }

  &__link:last-child {
    border-right: 2px solid $black;
  }

  &__link::before {
    content: attr(data-name);
    position: absolute;
    font-family: 'marvelbold', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: $black;
    left: 0;
    top: 0;
    width: 100%;
    padding: 23px 0;
    border: 2px solid $black;
    background-color: $white;
    transform: rotateX(90deg) translateY(46px);
    transform-origin: 50% 100%;
    transition-duration: 500ms;
    transition-property: transform;
  }

  &__link:hover::before {
    transform: rotateX(0deg) translateY(0);
  }

  &__link::after {
    content: attr(data-name);
    position: absolute;
    font-family: 'marvelbold', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: $white;
    left: 0;
    top: 0;
    width: 100%;
    padding: 23px 0;
    background: linear-gradient(to right, #c48497, #ff002b);
    border: 2px solid $black;
    transform: rotateX(0deg) translateY(0);
    transform-origin: 50% 0;
    transition-duration: 500ms;
    transition-property: transform;
  }

  &__link:hover::after {
    transform: rotateX(90deg) translateY(-46px);
  }
}
      
@media (max-width: 768px) {
  //Create burger menu

  .marvel-header {
    display: block;
    min-height: 75px;

    &__list {
      display: none;
      visibility: hidden;
      flex-direction: column;
      overflow: hidden;
      position: absolute;
      padding: 0 2em;
    }

    &__item {
      flex-basis: 12%;
      margin-left: 0;
    }
  }   
}

//Create mobile burger menu
@media (max-width: 768px) {
  .marvel-header {
    &.active {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      right: auto;
      bottom: 0;
      z-index: 100;
    }

    &.active .marvel-header__list {
      display: block;
      visibility: visible;
      position: absolute;
      top: 6em;
    }

    &__item {
      padding-bottom: 40px;
    }

    &__link::after, &__link::before {
      font-size: 40px;
    }
  } 
}
