@import '../../../scss/vars';

.marvel__header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #108cf1, #ff002b);

  .marvel__menu-list {
    display: flex;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 998;
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
    text-align: center;

    .marvel__menu-item {
      flex-basis: 20%;
    }

    .marvel__menu-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      font-size: 0px;
      line-height: 26px;
      color: #fff;
      padding: 10px 0;
      position: relative;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        border-right: 2px solid $black;
      }

      &::before {
        content: attr(data-name);
        position: absolute;
        font-family: 'marvelbold', sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: $black;
        left: 0;
        top: 0;
        width: 100%;
        padding: 23px 0;
        border: 2px solid $black;
        background-color: $white;
        transform: rotateX(90deg) translateY(46px);
        transform-origin: 50% 100%;
        transition-duration: 500ms;
        transition-property: transform;
      }

      &:hover::before {
        transform: rotateX(0deg) translateY(0);
      }

      &::after {
        content: attr(data-name);
        position: absolute;
        font-family: 'marvelbold', sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: $white;
        left: 0;
        top: 0;
        width: 100%;
        padding: 23px 0;
        background: linear-gradient(to right, #c48497, #ff002b);
        border: 2px solid $black;
        transform: rotateX(0deg) translateY(0);
        transform-origin: 50% 0;
        transition-duration: 500ms;
        transition-property: transform;
      }

      &:hover::after {
        transform: rotateX(90deg) translateY(-46px);
      }
    }
  }
}

@media (max-width: 768px) {
  //Create burger menu

  .marvel__header {
    display: block;
    min-height: 75px;

    & .marvel__menu-list {
      display: none;
      visibility: hidden;
      flex-direction: column;
      overflow: hidden;
      position: absolute;
      padding: 0 2em;
    }

    & .marvel__menu-list .marvel__menu-item {
      flex-basis: 12%;
      margin-left: 0;
    }
  }
}

//Create mobile burger menu
@media (max-width: 768px) {
  .marvel__header {
    &.active {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      right: auto;
      bottom: 0;
      z-index: 100;
    }
  }

  .marvel__header .active .marvel__menu-list {
    display: block;
    visibility: visible;
    position: absolute;
    top: 74px;
  }

  .marvel__header .marvel__menu-list .marvel__menu-item {
    padding-bottom: 40px;
  }

  .marvel__header .marvel__menu-list .marvel__menu-link::before,
  .marvel__header .marvel__menu-list .marvel__menu-link::after {
    font-size: 40px;
  }
}
