@import '../../../../scss/_vars';

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #03a9f4;
  transition: 0.5s;

  &.active {
    background: $marvel;
  }

  &__container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
  }

  &__blue-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    width: 100%;
    height: 420px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);

    .box {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
    }

    .box h3 {
      color: $white;
      font-size: $titleh2;
      margin-bottom: 10px;
    }
  }

  & .btn {
    cursor: pointer;
    padding: 10px 20px;
    background: $white;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    border: none;
    transition: 0.4s;

    &:hover {
      background: $grey;
      color: $white;
      opacity: 0.8;
    }
  }

  &__title-holder,
  .signup__title-holder {
    font-size: $titleh2;
    color: $white;
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__title {
    position: absolute;
    top: 120px;
    text-align: center;
    padding: 0 15px 30px;
    color: $white;
    font-size: $titleh1;
  }

  &__input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
  }

  &__forgot {
    color: $white;
  }

  &__form-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    z-index: 5;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.5s;
    overflow: hidden;

    & .signin__form-holder {
      transition-delay: 1.25s;
    }

    &.active {
      left: 50%;

      .form-holder {
        left: -100%;
      }

      .signin__form-holder {
        left: -100%;
        transition-delay: 0s;
      }
    }

    & .form-holder {
      position: absolute;
      left: 0;
      width: 100%;
      padding: 50px;
      transition: 0.5s;

      & .signin__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        & input[type='submit'] {
          background: $blue;
          color: $white;
          border: none;
          max-width: 100px;
          cursor: pointer;
          transition: 0.4s;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.signin__form-box {
  .signup__form-holder {
    left: 100%;
  }

  & .signup__register {
    background: $blue;
    color: $white;
    border: none;
    max-width: 100px;
    padding: 10px;

    cursor: pointer;
    transition: 0.4s;

    &:hover {
      opacity: 0.8;
    }
  }

  &.active {
    .signup__form-holder {
      left: 0;
    }
  }
}

@media (max-width: 991px) {
  .signin__container {
    max-width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

    .signin__blue-bg {
      top: 0;
      height: 100%;

      .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
      }
    }

    .signin__form-box {
      width: 100%;
      height: 500px;
      top: 0;
      box-shadow: none;
      top: 110;

      &.active {
        left: 0;
        top: 150px;
      }
    }

    .signin__box {
      top: 0;
    }
  }
}

@media (max-width: 450px) {
  .marvel__header {
    height: 75px;
  }

  .signin__title {
    top: 85px;
    font-size: $titleh2;
  }

  .signin__container {
    max-width: 300px;
    height: 550px;

    .signin__form-box {
      height: 65%;
      top: 25px;
    }

    .signin__blue-bg {
      top: 25;
      height: 97%;
    }
  }
}
