@import '../../../../scss/vars';

.ironman-fly {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #052238;
}

.ironman-fly::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #052238, transparent);
  z-index: 2;
}

.ironman-fly__text-holder {
  position: relative;
  padding: 0 50px;
  height: auto;
  background: #052238;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#moon {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

#cloud1 {
  position: absolute;
  top: 100px;
  left: 0;
  max-width: 600px;
}

#cloud2 {
  position: absolute;
  top: 100px;
  right: 0;
  max-width: 600px;
}

#jet {
  position: absolute;
  left: 150px;
  top: 50px;
  max-width: 100%;
  transform: scale(0);
}

#ironman {
  position: absolute;
  top: 110%;
  z-index: 1;
  transform: scale(0);
}

.content {
  padding-bottom: 50px;
}

.content h2 {
  font-size: $titleh1;
  color: $white;
  text-align: center;
  padding: 15px;
}

#text {
  color: $white;
  padding: 15px;
}
