@import '../../scss/vars';

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: $blackJack;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &.sec {
    margin-right: 30px;
  }

  &__aboutus {
    width: 40%;
  }

  &__title {
    color: $white;
    font-size: 16px;
    font-weight: 700;
    padding: 0 15px 15px;
  }

  &__separator {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      bottom: -5px;
      left: 0;
      width: 50px;
      height: 2px;
      color: $marvel;
    }
  }

  &__text-holder {
    color: $white;
    padding: 0 15px 35px;
    max-width: 350px;
  }

  &__socials-list {
    display: flex;
    padding-left: 15px;
  }

  &__item {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #222;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background: $marvel;
    }
  }

  .ico {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $blue;
  }

  &__quicklinks {
    position: relative;
    width: 25%;
  }

  &__quicklinks-link {
    color: $white;
    margin-bottom: 10px;
    padding-left: 15px;
    display: inline-block;
    transition: 0.4s;

    &:hover {
      color: $marvel;
    }
  }

  &__contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
  }

  &__contact-item {
    position: relative;
    display: flex;
    padding: 15px 25px 0;
    color: $white;
  }

  &__map-ico,
  &__phone-ico,
  &__envelope-ico {
    position: absolute;
    top: 50%;
    left: 0;
    color: $blue;
  }

  &__mail,
  &__tel {
    color: $white;
    transition: 0.4s;

    &:hover {
      color: $marvel;
    }
  }
}

.copyright {
  text-align: center;
  color: $white;
  padding: 15px 15px 25px;
  width: 100%;
  background: $blackJack;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px;

    &__container {
      flex-direction: column;
    }

    .sec {
      margin-bottom: 40px;
    }

    &__aboutus {
      width: 50%;
    }
    &__quicklinks,
    &__contact {
      width: 100%;
    }
  }
}
