@font-face {
  font-family: 'marvelbold';
  src: url('../fonts/marvel-bold-webfont.woff2') format('woff2'),
    url('../fonts/marvel-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'marvelbold_italic';
  src: url('../fonts/marvel-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/marvel-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'marvelitalic';
  src: url('../fonts/marvel-italic-webfont.woff2') format('woff2'),
    url('../fonts/marvel-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'marvelregular';
  src: url('../fonts/marvel-regular-webfont.woff2') format('woff2'),
    url('../fonts/marvel-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
