@import '../scss/_vars';

html {
  font-family: 'marvelregular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  // background-color: $grey;
  background-color: #03a9f4;
}

.wrapper {
  // min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // padding: 0 15px;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
  // height: 100vh;
}

img {
  max-width: 100%;
}

// .footer {
//   margin-top: auto;
// }
