@import '../../../scss/vars';

.marvel__btn-burger {
  display: none;
  visibility: hidden;
}

@media (max-width: 768px) {
  .marvel-header {
    .marvel__btn-burger {
      display: block;
      visibility: visible;
      position: absolute;
      top: 2.3em;
      right: 2em;
      width: 50px;
      height: 20px;
      cursor: pointer;
      transition: 0.3s;

      &::before,
      &::after {
        content: '';
        background-color: $white;
        position: absolute;
        right: 0;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        transition: 0.3s;
      }

      &::before {
        top: -7px;
        border-radius: 5px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &::after {
        bottom: -9px;
        border-radius: 5px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      & span {
        position: absolute;
        background-color: $white;
        right: 0;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        top: 9px;
        transition: 0.3s;
      }
    }
  }
}

//Animation burger btn
@media (max-width: 768px) {
  .marvel-header .active span {
    top: 7px;
    border-radius: 5px;
    transform: scale(0);
  }

  .marvel-header {
    &.active .marvel__btn-burger::after {
      bottom: 7px;
      border-radius: 5px;
      transform: rotate(-45deg);
      transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &.active .marvel__btn-burger::before {
      top: 9px;
      border-radius: 5px;
      transform: rotate(45deg);
      transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}
